<h2>uLaunch Themes</h2>
<style id="fonts"></style>
<div id="tool">

</div>
<div id="pretool" style="visibility: hidden;display: none;">

</div>
<br>
<input class="button" type="button" value="<%- options.lang.mainmenu %>" id="mainmenu" style="visibility: visible;"/>
