<p class="atitle" style="z-index:999">Homebrew Appstore</p>
<div id="app">

</div>
<div id="info" style="position:absolute;top:0;left:0;width:100%;height:100%;background-color:#2d2d2d72;z-index:99;display:none;">
  <div class="app-info">
    <div style="width:99%;height:99%;overflow-y:auto;overflow-x:hidden;">
      <img class="app--image" id="appimg" src onerror/>
      <p class="app-title" id="apptitle"></p>
      <input type="button" class="app-button" id="download" value="Download" href onclick="shell.openExternal(this.getAttribute('href'));" style="top:280px;left:25%;transform:translate(-75%);"/>
      <input type="button" class="app-button" id="source" value="Source" href onclick="shell.openExternal(this.getAttribute('href'));" style="top:280px;left:50%;transform:translate(-50%);"/>
      <input type="button" class="app-button" id="switchbru" value="Switchbru" href onclick="shell.openExternal(this.getAttribute('href'));" style="top:280px;left:75%;transform:translate(-25%);"/>
      <div id="divd" class="app-desc">
        <p id="desc"></p>
      </div>
    </div>
  </div>
</div>
<div class="button" id="return" style="width:60px;height:60px;left:10px;bottom:10px;z-index:999"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 172 172" style="fill:#000000;position:absolute;top:50%;left:48%;transform:translate(-52%, -50%)"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#e1e1e1"><path d="M120.26563,10.25281c-1.78719,0.05375 -3.48031,0.80625 -4.73,2.08281l-68.8,68.8c-2.6875,2.6875 -2.6875,7.04125 0,9.72875l68.8,68.8c1.72,1.80062 4.28656,2.52625 6.70531,1.89469c2.40531,-0.63156 4.28656,-2.51281 4.91813,-4.91813c0.63156,-2.41875 -0.09406,-4.98531 -1.89469,-6.70531l-63.93563,-63.93563l63.93563,-63.93562c2.02906,-1.97531 2.64719,-4.99875 1.54531,-7.61906c-1.11531,-2.60688 -3.70875,-4.27313 -6.54406,-4.1925z"></path></g></g></svg></div>
