<input class="button" type="button" value="<%- options.lang.payload.select %>" id="select"/>
<p id="file"></p>
<div id="inject" style="visibility: hidden;">
  <input class="button" type="button" value="<%- options.lang.payload.inject %>" id="injectbtn"/>
</div>
