<input class="button" type="button" value="Select a file" id="select"/>
<p id="file"></p>
<div id="inject" style="visibility: hidden;">
  <input class="button" type="button" value="Inject" id="injectbtn"/>
</div>
