<h2>Payload Injection</h2>
<div id="tool">
  <p>This tool will Inject payload bin in you're switch with TegraRcmSmash</p>
  <p>How do you want to Inject payload</p>
  <section>
    <input class="button" type="button" value="Online" id="online"/>
    <input class="button" type="button" value="Local File" id="local"/>
  </section>
</div>
<br>
<input class="button" type="button" value="Main Menu" id="mainmenu" style="visibility: visible;"/>
