<input class="button" type="button" value="<%- options.lang.payload.atmo %>" id="atmosphere"/>
<input class="button" type="button" value="Incognito RCM" id="incognitorcm"/>
<input class="button" type="button" value="Lockpick RCM" id="lockpickrcm"/>
<p id="file"></p>
<div id="inject" style="visibility: hidden;">
  <input class="button" type="button" value="<%- options.lang.payload.inject %>" id="injectbtn"/>
</div>
