<input class="button" type="button" value="Atmosphère" id="atmosphere"/>
<p id="file"></p>
<div id="inject" style="visibility: hidden;">
  <input class="button" type="button" value="Inject" id="injectbtn"/>
</div>
