<input class="button" type="button" value="Atmosphere" id="atmosphere"/>
<input class="button" type="button" value="Incognito RCM" id="incognitorcm"/>
<input class="button" type="button" value="Lockpick RCM" id="lockpickrcm"/>
<p id="file"></p>
<div id="inject" style="visibility: hidden;">
  <input class="button" type="button" value="Inject" id="injectbtn"/>
</div>
