<h2>Biskey Dump</h2>
<div id="tool">
  <p><%- options.lang.payload.biskeydesc %></p>
  <input class="button" type="button" value="<%- options.lang.updater.continue %>" id="continue"/>
</div>
<br>
<input class="button" type="button" value="<%- options.lang.mainmenu %>" id="mainmenu" style="visibility: visible;"/>
