<section>
  <input type="button" class="button" id="drivers" value="Switch Drivers"/>
  <input type="button" class="button" id="injectbin" value="Payload Injection"/>
  <input type="button" class="button" id="sxoslicense" value="SXOS License"/>
</section>
