<h2>isMySwitchPatched</h2>
<div id="tool">
  <p><%- options.lang.imsp.desc %></p>
  <p><%- options.lang.imsp.give %><p>
  <input type="text" class="serial" id="serial" ref="Your Serial Number" value=""/>
  <p id="ispatch" style="color: green;"></p>
</div>
<br>
<input class="button" type="button" value="<%- options.lang.mainmenu %>" id="mainmenu" style="visibility: visible;"/>
