<h2>isMySwitchPatched</h2>
<div id="tool">
  <p>This tool is for verify if your switch is patched or not</p>
  <p>Give your serial number here (Example: XAW10074000000)<p>
  <input type="text" class="serial" id="serial" ref="Your Serial Number" value=""/>
  <p id="ispatch" style="color: green;"></p>
</div>
<br>
<input class="button" type="button" value="Main Menu" id="mainmenu" style="visibility: visible;"/>
