<h2>Switch Drivers</h2>
<div id="tool">
  <p>This tool will install RCM Drivers for your switch</p>
  <p>How do you want to install the Drivers ?</p>
  <section>
    <input class="button" type="button" value="Automatic mode" id="automatic"/>
    <input class="button" type="button" value="Zadig" id="zadig"/>
    <input class="button" type="button" value="Device Manager" id="manager"/>
  </section>
</div>
<br>
<input class="button" type="button" value="Main Menu" id="mainmenu"/>
