<h3>Connect the Switch in RCM mode</h3>
<p>1) Connect the Switch to USB and shut down it.<br>
2) Apply the JoyCon Haxx : PIN1 + PIN10 or PIN9 + PIN10<br>
3) Maintain "Volume +" and press "Power"</p>
<input class="button" type="button" value="When done, continue" id="continue"/>
