<h2>SXOS License</h2>
<div id="tool">
  <p>This tool will sign your SXOS license-request.dat</p>
  <input type="button" id="select" value="Select your license-request.dat" class="button"/>
  <p id="file"></p>
  <div id="licensetext" style="visibility: hidden;">
    <p>Your license code here</p>
    <input type="text" class="license" id="license" ref="Your license code" value=""/>
  </div>
  <br>
  <div id="sign" style="visibility: hidden;">
    <input type="button" id="select" value="Sign" class="button"/>
  </div>
</div>
<br>
<input class="button" type="button" value="Main Menu" id="mainmenu" style="visibility: visible;"/>
